#chart {
    
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    height: 100;
    border-radius: 8px;
  }

  .dashboard-container {
    margin: 20px;
  }
  
  .card-container {
    margin-top: 20px;
  }
  
  .pie-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .welcome-card {
    margin-bottom: 20px;
  }
  
  .dashboard-card {
    margin-bottom: 20px;
  }
   

 